var path = require('path'),
    webpack = require('webpack');

module.exports = {
  devtool: 'inline-source-map',
  entry: [
    './assets/js/gateway.js',
    'webpack/hot/only-dev-server',
    'webpack-dev-server/client?http://localhost:8080/'
  ],
  output: {
    path: __dirname + '/',
    publicPath: 'http://localhost:8080/',
    filename: 'mashup.js'
  },
  module: {
    loaders: [
      {
        test: /\.js?$/,
        exclude: [ 'node_modules', 'inbound', 'outbound' ],
        include: path.join(__dirname, 'assets/js'),
        loaders: [ 'react-hot',  'babel' ]
      }
    ]
  },
  plugins: [
      new webpack.optimize.OccurenceOrderPlugin(),
      new webpack.HotModuleReplacementPlugin()
  ]
};
