var path = require('path'),
    webpack = require('webpack');

module.exports = {
  devtool: false,
  sourceMaps: false,
  debug: false,
  entry: './assets/js/gateway.js',
  output: {
    path: __dirname + '/builds/outbound/js',
    filename: 'mashup.js'
  },
  module: {
    loaders: [
      {
        test: /\.js?$/,
        exclude: [ 'node_modules', 'inbound', 'outbound' ],
        include: path.join(__dirname, 'assets/js'),
        loaders: [ 'babel' ]
      }
    ]
  },
  plugins: [
    new webpack.optimize.OccurenceOrderPlugin(),
    new webpack.optimize.DedupePlugin(),
    new webpack.optimize.AggressiveMergingPlugin(),
    new webpack.optimize.UglifyJsPlugin({
      sourceMap: false,
      compress: {
        sequences: true,
        dead_code: true,
        conditionals: true,
        booleans: true,
        unused: true,
        if_return: true,
        join_vars: true,
        drop_console: true
      },
      mangle: {
        except: ['$super', '$', 'exports', 'require']
      },
      output: {
        comments: false
      }
    })
  ]
};
